@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #111111;
  --muted: #6b6b6b;
  --chrome: #f9f9f9;
  --border: #ececec;
}

html,
body {
  height: 100%;
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

textarea {
  font-family: inherit;
}

.flag-dot {
  background: conic-gradient(
    from 180deg,
    #d90012 0deg 120deg,
    #0033a0 120deg 240deg,
    #f2a800 240deg 360deg
  );
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 4px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}
